-i https://pypi.org/simple
aiofiles; python_version >= '3.7'
annotated-types; python_version >= '3.8'
anyio; python_version >= '3.9'
certifi; python_version >= '3.6'
charset-normalizer; python_version >= '3.7'
click; python_version >= '3.7'
distro; python_version >= '3.6'
elevenlabs; python_version >= '3.8' and python_version < '4.0'
fastapi; python_version >= '3.8'
ffmpy; python_version >= '3.8' and python_version < '4.0'
filelock; python_version >= '3.8'
fsspec; python_version >= '3.8'
gradio; python_version >= '3.10'
gradio-client; python_version >= '3.10'
groq; python_version >= '3.8'
gtts; python_version >= '3.7'
h11; python_version >= '3.7'
httpcore; python_version >= '3.8'
httpx; python_version >= '3.8'
huggingface-hub; python_full_version >= '3.8.0'
idna; python_version >= '3.6'
jinja2; python_version >= '3.7'
markdown-it-py; python_version >= '3.8'
markupsafe; python_version >= '3.7'
mdurl; python_version >= '3.7'
numpy; python_version >= '3.10'
orjson; python_version >= '3.8'
packaging; python_version >= '3.8'
pandas; python_version >= '3.9'
pillow; python_version >= '3.9'
pyaudio
pydantic; python_version >= '3.8'
pydantic-core; python_version >= '3.8'
pydub
pygments; python_version >= '3.8'
python-dateutil; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-multipart; python_version >= '3.8'
pytz
pyyaml; python_version >= '3.8'
requests; python_version >= '3.8'
rich; python_full_version >= '3.8.0'
ruff; sys_platform != 'emscripten'
safehttpx; python_version >= '3.10'
semantic-version; python_version >= '2.7'
shellingham; python_version >= '3.7'
six; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio; python_version >= '3.7'
speechrecognition; python_version >= '3.9'
starlette; sys_platform != 'emscripten'
tomlkit; python_version >= '3.8'
tqdm; python_version >= '3.7'
typer; sys_platform != 'emscripten'
typing-extensions; python_version >= '3.8'
tzdata; python_version >= '2'
urllib3; python_version >= '3.9'
uvicorn; sys_platform != 'emscripten'
websockets; python_version >= '3.9'
python-dotenv

